# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/media/*
web/bundles/*

# Configuration files
app/config/parameters.yml

build/*
bin/*
doc/_build/*
*.sublime-workspace